<h1>Add Position</h1>

<div class="row">
    <div class="col-xs-12">
        <form class="form-inline" role="form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter symbol" data-ng-model="newPosition.symbol">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Quantity" data-ng-model="newPosition.quantity">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Price" data-ng-model="newPosition.currentPrice">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Ideal Allocation %" data-ng-model="newPosition.idealAllocationPercentage" />
            </div>
            <button type="submit" class="btn btn-default" data-ng-click="add()">Add</button>
        </form>
    </div>
</div>