
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Ideal %</th>
                    <th>Ideal Amount</th>
                    <th>Actual %</th>
                    <th>Actual Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="position in positions">
                    <td>{{position.symbol}}</td>
                    <td>{{position.quantity}}</td>
                    <td>{{position.currentPrice}}</td>
                    <td>{{position.idealAllocationPercentage}}</td>
                    <td>{{position.idealAllocationAmount}}</td>
                    <td>{{position.actualAllocationPercentage | number:2}}</td>
                    <td>{{position.actualAllocationAmount}}</td>
                    <td><button data-ng-click="delete(position)" class="btn btn-danger">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


